body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
}
.headingword{
    font-weight: 90px;
}
.main,.second-main,.third-main{
    width:100%;
    height:100vh;
    background-size:cover;
    background-position:30% 30%;
    overflow:hidden;
    background-attachment : fixed;    
}


.logo{
  
    left: 30px;
   display: inline-block;
   
   position: absolute;
   border-radius: 50px;
   

    
}

.center{
   /* border: 2px solid blue;*/
    
    width: 100%;
    margin:20px auto;
   
    
}
.navbar{
    margin-left: 250px;
    text-align: left;
    display: inline block;
    list-style: none;
    
    
}
.navbar li{
    display: inline-block;
    font-size: 20px;
    padding: 0px 20px;
   
    
}
.navbar li a{
 
    color:#333421;
    text-decoration: none;
    padding: 5px 5px;
    text-shadow: 5px white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
   
}

.active {
    border-bottom: 2px solid #f49c04;

}

  li :hover{
    
    border-bottom: 2px solid #f49c04;
    text-shadow: 5px white;

   
}



.signup{
    top: 10px;
    right: 30px;
    position: absolute;
    padding: 10px 10px;
  
    
}
.signup-button,.login-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f49c04;
    width: 90px;
    height: 40px;
    color:#333421;
    border:1px solid #f49c04;
     border-radius: 15px; /*for creating the curvature in corner of the button */
     
    
    transition: ease-in-out 0.2s;
   
}
.login-button:hover{
    border:1px solid #d9dc5a;
    background-color: #d9dc5a;
 
  
}
.signup-button:hover{
    border:1px solid #d9dc5a;
    background-color: #d9dc5a;
 
  
}

.first-container{       /* for the flex container in second page */ 
    margin-top: 100px;
    width: 100%;
    height: 400px;
    display: flex;
   


}
.second-main{
        background-color:#333421 ;
}
.third-main{
    background-color: #414501;
}
.first-container>div{
margin:60px;
height: 250px;

flex: 33.3%;
border:3px solid #f49c04;
border-radius: 70px;

}
.first-container>div:hover{
    background-color: #e5e78d;
}
